@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topBarMain{
    background: #f5f5f5;
}

.container{     
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.phone {
    width: 229px;
    float: left;
    padding: 15px 10px;
    border-radius: 1px solid #ddd;
}

.email{
    width: 500px;
    float: left;
    padding: 15px 10px;
}

.social{
    width: 210px;
    float: left;
    
}

.topbarWrapper{
    overflow: hidden;
}

.social a {
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #ddd;
    color: #2b2b2b;
}

.social i:hover{
    color: #ff5200;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social a:first-child{
  border-left: 1px solid #ddd;
}

.phone i{
    color: #ff5200;
}

.email i{
   color: #ff5200;
}

.primaryMenu{
    overflow: hidden;
    width: 100%;
}

.mainMenuItem{
    list-style: none;
    float: right;
}

.logo{
    width: 150px;
    float: left;
    margin-top: 22px;
}

.menu{
    width: 990px;
    float: left;
}

ul.mainMenuItem{
    list-style: none;
    float: right;
}

ul.mainMenuItem li{
    float: left;
}

ul.mainMenuItem li a{
    text-decoration: none;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 30px 15px;
    color: #0e0e0e;
    font-weight: 500;
    transition: 0.5s;
}



