*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.about-main-container {
    background: linear-gradient(to right, #57bbbd 0%, #68ced0 40%, #6ce5f6 100%);
    
    
}

.e-con.e-flex {
    --flex-direction: column;
    --flex-basis: auto;
    --flex-grow: 0;
    --flex-shrink: 1;
    flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
}

.elementor-widget-image {
    text-align: center;
}

img.attachment-full.size-full.wp-image-1905 {
    background-image: url(pattern.svg);
}

.content-area {
    margin: 0px 15px 0px 15px;
    background: linear-gradient(to right, #57bbbd 0%, #68ced0 40%, #6ce5f6 100%), url(pattern-op-svg.svg);
    background-blend-mode: overlay;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 56px;
    padding: 10px 0px 90px 0px;
}

#content.type-sng-page{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 80px 0px 30px;
    border-radius: 30px;
}

.page-header h1.entry-title{
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 70px;
    line-height: 56px;
    color: #122526;
    font-family: "Lilita One", Sans-serif;
    padding-bottom: 20px;
}

.sng-top-callout {
    font-size: 14px;
    border: 3px solid #57bbbd;
    border-radius: 13px;
    background: #f1f8f9;
    padding: 17px 23px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

form#client_onboarding_form {
    max-width: 542px;
    width: 100%;
    margin: 0 auto;
}

.sng-top-callout::before {
    margin-right: 23px;
    content: url(bolt-ico.svg);
    font-size: 24px;
    font-weight: 600;
    color: #57bbbd;
}

.sng-top-callout span {
    line-height: 16px;
    font-size: 17px;
    font-weight: bold;
    color: #122526;
    font-family: "Montserrat", Sans-serif;
}

.sng-form-group, .sng-dog-fields-wrapper {
    margin-bottom: 20px;
}

label {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #181818;
    font-style: normal;
}

label{
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

form#client_onboarding_form #zip_code {
    color: #8e8e8e;
}

form#client_onboarding_form input[type="text"] {
    width: 100%;
    line-height: 28px;
    padding: 0.4rem 0.5rem;
}

form#client_onboarding_form #zip_code {
    color: #8e8e8e;
    border: 1px solid #cdcdcd;
    outline: none;
    height: auto;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

input#coupon_code {
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    outline: none;
    height: auto;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    color: #181818;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.sng-div-number-of-dogs {
    margin-top: 2.5rem !important;
    margin-bottom: 4rem !important;
}

.sng-slider-space .sng-sliders {
    font-size: 16px;
    color: #122526;
    font-family: "Montserrat", Sans-serif;
}

.range-slider {
    width: 96%;
    margin: 0 auto;
}

.range-slider {
    position: relative;
    width: var(--width, 100%);
    height: var(--height, 0.25rem);
    touch-action: none;
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.panel {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: var(--panel-bg, #2d4373);
    border-radius: var(--panel-bg-border-radius, 1rem);
    overflow: hidden;
    transition: .3s allease;
}

.panel-fill {
    background: var(--panel-bg-fill, #000);
    border-radius: var(--panel-bg-border-radius, 1rem);
    overflow: hidden;
    height: 100%;
    position: absolute;
    z-index: 10;
}
.range-slider {
    width: 96%;
    margin: 0 auto;
}

.range-slider {
    position: relative;
    width: var(--width, 100%);
    height: var(--height, 0.25rem);
    touch-action: none;
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.pointer-shape {
    background: var(--pointer-bg, #fff);
    background-size: contain;
    box-shadow: var(--pointer-shadow);
    border: var(--pointer-border);
    border-radius: var(--pointer-border-radius, 100%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: var(--pointer-width, 15px);
    height: var(--pointer-height, 15px);
    transition: .3s allease;
}